@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    width: 100vw;
    height: 100%;
    background-image: url(../image/Фон\ 1.jpg);

    background-repeat: no-repeat;
    background-size: cover;
}

header {
    padding: 18px 80px;
    display: flex;
    justify-content: space-between;

    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

#icon {
    fill-opacity: white;
}

header:hover  .header-link a{
    color: #3CB878;
}
header:hover .logo {
    color: #3CB878;
}
header:hover #icon {
    fill: green;
}

.logo {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}

.header-nav {
    display: flex;
    gap: 27px;
    align-items: center;
}

.vertical-line {
    content: "";
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.90);
}

.header-icons {
    display: flex;
    gap: 27px;
}

.header-link p {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.header-link a {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.main-content {
    display: flex;
    justify-content: center;
    align-content: center;
}

.form {
    margin-top: 54px;
    width: 324px;
    display: flex;
    flex-direction: column;

    padding: 33px 59px 38px 59px;

    position: relative;

    background-color: #FFF;
}

.rectangle{
    position: absolute;
    width: 18px;
    height: 18px;
    top: 34px;
    left: 0px;
    background-color: #3CB878;
}

.form-log-in {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

h2 {
    color: #434343;
    text-align: center;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.form-log-in a {
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    /* 100% */
}

.login-buttons {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6px;
}

.facebook {
    border-radius: 4px;
    background-color: #305DB8;
}
.google {
    border-radius: 4px;
    background-color: #DF4A32;
}

.login-button {
    display: flex;

    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
        /* 100% */
}

.login-button a {
    padding: 18px 0;
}

.login-button img {
    padding: 12px 12px;
    width: 100%;
    height: 24px;
}

.login-button p {
    padding: 17px 27px;
    border-left: 1px solid #0A162F;
}


.or {
    position: relative;
}
.or .line {
    display: block;
    margin-top: 40px;
    margin-bottom: 17px;
    content:"";
    width: 100%;
    height: 2px;
    background-color: #F2F2F2;
}

.or p {
    position: absolute;
    top: 30px;
    left: 46%;
    color: #848484;
    padding: 4px;
    background-color: white;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

input {
    display: block;
    width: 90%;
    padding: 15px 19px;
    margin-bottom: 16px;

    border-radius: 4px;
    border: 1px solid #F2F2F2;

    color: #434343;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
} 

input:focus {
    fill: #FFF;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
}

.input::placeholder {
    color: #BEBEBE;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.checkbox {
    padding: none;
    margin: none;
    display: flex;
    justify-content: flex-start;
}

.checkbox input {
    width: 20px;
    height: 20px;
    margin-right: 8px;

    border: 1px solid #F2F2F2;
    background: rgba(0, 0, 0, 0.00);
}

.checkbox input {
    background-color: none;
    stroke-width: 2px;
    stroke: #3CB878;
}

.checkbox p span {
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.create {
    margin-top: 20px;
    padding: 16px 0;

    border: none;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.80);

    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}